@charset "ISO-8859-1" html { height: 100%;

box-sizing




:


 


border-box




;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #3D70B2;
	min-height: 100%;
	font-family: 'IBM Plex Sans', sans-serif;
	margin: 0;
	padding-bottom: 6rem;
	position: relative;
}

body::after {
	content: '';
	display: block;
}

.header {
	vertical-align: middle;
	padding: 20px 0px;
}

.header img {
	float: left;
	width: 70px;
	margin-top: 15px;
	margin-right: 35px;
}

.header h1 {
	color: white;
	font-weight: normal;
	line-height: normal;
	font-size: 30px;
}

h2, h3 {
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	color: #5A5957;
	margin-top: 0px;
}

h3 {
	font-size: 20px;
}

h2 {
	font-size: 32px;
}

.wrapper {
	display: grid;
	grid-gap: 10px;
	display: grid;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.footer p {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
}

.footer img {
	width: 80px;
	float: left;
	margin-top: 10px;
}

.header , .row{
	padding-right: 30px;
	padding-left: 30px;
}

@media screen and (min-width: 500px) {
	.content {
		width: 100%;
	}
	.wrapper {
		margin: 0 auto;
	}
	.header, .footer {
		clear: both;
	}
}